.table {
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}

.colName {
    padding: 0 1rem;
}

.inputContainer {
    display: flex;
    justify-content: center;
}

.input {
    margin-left: 35rem;
}

.hide {
    display: none;
}

