.frontCard {
    text-align: center;
    position: absolute;
    backface-visibility: hidden;
}

.frontCard .frontCardTheme {
    text-transform: capitalize;
    position: absolute;
    top: 10rem;
    width: 100%;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
    color: #1388fc;
}

.frontCard .frontCardImage {
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
}

.flipEffect {
    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
    height: 20rem;
    cursor: pointer;
}

.wordInEnglish {
    position: absolute;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    top: 9.5rem;
    width: 100%;
    color: #383838;
    text-transform: capitalize;
}

.readAWordButton {
    font-size: 2rem;
    position: absolute;
    bottom: 0.2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 143, 3);
    left: 0;
    border-radius: 0 3rem 0 2rem;
    color: #383838;
}

.reverseCardButton {
    font-size: 2rem;
    position: absolute;
    bottom: 0.2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 250, 3);
    right: 0;
    border-radius: 3rem 0 2rem 0;
    color: rgb(110, 102, 90);
}

.backCard {
    position: relative;
    text-align: center;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.backCardImage {
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
}

.wordInRussian {
    position: absolute;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    top: 14rem;
    width: 100%;
    color: #383838;
    text-transform: capitalize;
}

.cardOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2rem;
    display: block;
}

.hide {
    display: none;
}