.navbar {
    font-size: 10px;
    width: 20rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #faf5ad;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20% 20% 0;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.navList {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    list-style: none;
    text-transform: capitalize;
}

.navItem {
    margin: 1rem 0;
}